Package: com.opa334.trollstorehelper
Name: TrollStore Helper
Version: 1.5.1
Architecture: iphoneos-arm
Description: Helper utility to install and manage TrollStore!
Maintainer: opa334
Author: opa334
Section: Applications
