Package: com.opa334.trollstorehelper
Name: TrollStore Helper
Version: 1.0.4
Architecture: iphoneos-arm
Description: Helper app to install and manage TrollStore!
Maintainer: opa334
Author: opa334
Section: Utilities
