Package: com.opa334.trollstoreroothelper
Name: trollstoreroothelper
Version: 2.0.12
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: opa334
Author: opa334
Section: System
Tag: role::hacker
