Package: com.opa334.trollstorelite
Name: TrollStore Lite
Version: 2.1
Architecture: iphoneos-arm
Description: TrollStore for jailbroken iOS
Depends: ldid
Maintainer: opa334
Author: opa334
Section: Applications
